.sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  background-color: #fff9f3e8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f36700;
  display: block;
  transition: 0.3s;
}

#sideNavMenu {
  display: none;
  position: fixed;
  transition: margin-right .5s;
  right: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  top: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}


@media only screen and (max-width:767px) {

  #sideNavMenu {
    display: block;
    z-index: 15;
  }
 
}

 .sideNav-icon {
  margin: 1em;
  width: 30px;
}

.sideNav-icon:after, 
.sideNav-icon:before, 
.sideNav-icon div {
  background-color: #f36700;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.sideNav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
  background-color: #ff0000;
}

.sideNav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
  background-color: #ff0000;
}

.sideNav-icon:hover div {
  transform: scale(0);
}